<!doctype html>
<title>My Application</title>
{% with messages = get_flashed_messages(category_filter=['cat1'], ) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}